/* .footer-section {
  margin-top: 100px;
  height: 170px;
}
.first-lvl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home {
  text-decoration: none;
  font-size: 18px;
  display: flex;
}
.about {
  text-decoration: none;
  font-size: 18px;
  display: flex;
}
.contact {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  margin-top: -16px;
}
.foot-p {
  margin-left: 6px;
  margin-top: -4px;
}
.svg {
  width: 25px;
  height: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.svg2 {
  width: 27px;
  height: 23px;
}
.second-lvl {
  margin-top: 25px;
}
.policy {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
  margin-right: 51px;
} */
